<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>
  <body>
    <h1>Message Board</h1>
    <div id="message-container">
      {{#each messages}}
        <div class="message">
          <div id="message-text">{{this.text}}</div>
          <div id="message-user">{{this.user}}</div>
          <div id="message-date">{{this.added}}</div>
        </div>
      {{/each}}
    </div>
  </body>
</html>